<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="class-wcm-actions.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \wcm_actions" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="7" severity="error" message="No summary for method localisation()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="61" severity="error" message="No summary for method update_theme_files()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="77" severity="error" message="Argument $username is missing from the Docblock of login_user" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="77" severity="error" message="Argument $userpwd is missing from the Docblock of login_user" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="77" severity="error" message="No summary for method login_user()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="108" severity="error" message="No summary for method app_templates()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="127" severity="error" message="No summary for method common_styles()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="141" severity="error" message="No summary for method app_scripts()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="165" severity="error" message="No summary for method common_scripts()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="170" severity="error" message="No summary for method test()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="178" severity="error" message="No summary for method core_scripts()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="198" severity="error" message="No summary for method core_styles()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="211" severity="error" message="No summary for method _constructor()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="upload-file.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="Argument $dir is missing from the Docblock of cleanFiles" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="6" severity="error" message="No summary for function \cleanFiles()" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="class-wcm-admin-actions.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="2" severity="error" message="No summary for class \wcm_admin_actions" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="3" severity="error" message="Argument $columns is missing from the Docblock of custom_shop_order_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="3" severity="error" message="No summary for method custom_shop_order_column()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="12" severity="error" message="Argument $column is missing from the Docblock of custom_orders_list_column_content" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="Argument $order_id is missing from the Docblock of custom_orders_list_column_content" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="No summary for method custom_orders_list_column_content()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="56" severity="error" message="Argument $url is missing from the Docblock of ikreativ_async_scripts" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="56" severity="error" message="No summary for method ikreativ_async_scripts()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="70" severity="error" message="No summary for method __constructor()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="75" severity="error" message="No summary for method admin_styles()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="83" severity="error" message="No summary for method admin_scripts()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="class-wcm-filters.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="5" severity="error" message="No summary for class \wcm_filters" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="8" severity="error" message="Argument $image is missing from the Docblock of woocommerce_cart_item_thumbnail" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="8" severity="error" message="Argument $cart_item is missing from the Docblock of woocommerce_cart_item_thumbnail" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="8" severity="error" message="Argument $cart_item_key is missing from the Docblock of woocommerce_cart_item_thumbnail" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="8" severity="error" message="No summary for method woocommerce_cart_item_thumbnail()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="55" severity="error" message="Argument $tag is missing from the Docblock of add_defer_attribute" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="55" severity="error" message="Argument $handle is missing from the Docblock of add_defer_attribute" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="55" severity="error" message="No summary for method add_defer_attribute()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="73" severity="error" message="No summary for method register__()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="80" severity="error" message="Argument $src is missing from the Docblock of remove_verion_suffix" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="80" severity="error" message="No summary for method remove_verion_suffix()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="88" severity="error" message="No summary for method _constructor()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
</checkstyle>
